.image-background {
    position:absolute;
    width: 100%;
    height: 100%;
}

.image-background img {
    width: 30%;
    height: 30%;
    z-index: 1;
}

.img1 {
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);    
}

.img2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}