.image-background {
    display: grid;
    width: 100%;
    height: 100%;
}

.image-container {
    display: inline;
}

.image {
    position: absolute;
    height: 30%;
    width: auto;
    padding: 10px;
    /* margin: auto; */
}