/* font family cigarette */
@font-face {
    font-family: bebas;
    src: url('./BebasNeue-Regular.ttf');
}

/* -----  broader styles  ------ */
body {
    background-color: #000000;    
    font-family: bebas;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: cell;
}

.header {
    position: relative; 
    z-index: 1;
    width: 40%;
    height: 50%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}

.home {
    position: fixed;
    z-index: 1;
    color: #26ff0e;
    left: 15%;
    top: 7%;
    transform: translate(-15%, -7%);
    padding: 10px;
}


.back { 
    color: #26ff0e;
    padding: 5%;
    padding-top: 5%;
    font-size: 30px;
    text-decoration: none;
    font-family: bebas;
    text-transform: uppercase;
    border-radius: 5%;
    font-weight: 700;
}

.header img {
    width: 100%;
    height: 100%;
    transform: translateY(-45px);
}

.link-tree {
    z-index: 5;
    position: fixed;
    top: 75%;
    left: 50%; 
    transform: translate(-50%, -75%);
    overflow: hidden;
}

.link-tree li {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    list-style-type: none;
}

.date-tree {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
    list-style-type: none;
    height: 70%;
}

.date {
    text-transform: uppercase;
    padding: 10px;
    font-family: bebas;
    white-space: pre;
    font-weight: 900;
    color: #26ff0e;
    font-size: 30px;
    z-index: 10 !important;
}

.link {
    text-decoration: none;
    color: #26ff0e;
    font-weight: 900;
    font-size: 30px;
}

.link:hover {
    color: #51ff008a;
    opacity: 100%;
    text-decoration: underline #51ff008a;
    transition: opacity 200ms linear;
}

::-webkit-scrollbar {
    background-color: #34343435;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #26ff0e7a;
    height: 10px;
}

.hidden-link {
    text-decoration: none;
}

/*  future media queries for medium to medium small devices */
@media only screen and (max-width: 1350px) {
    .header {
        width: 40%;
    }
    .header img {
        transform: translateY(-20px);
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        width: 60%;
    }
    
    /* .header img {
        transform: translateY(-100px);
    } */
}

@media only screen and (max-width: 768px) {
    .header {
        width: 80%;
    }

    .header img {
        transform: translateY(20px);
    }

    .home {
        left: 50%;
        top: 98%;
        transform: translate(-50%, -98%);
    }

    .linktree {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .linktree li {
        padding-top: 12%;
    }

    .link {
        font-size: 30px;
    }

    .date {
        font-size: 30px;
    }

    .back {
        font-size: 40px;
        background-color: #000000a1;
    }
}
