/* font family cigarette */
@font-face {
    font-family: bebas;
    src: url('./BebasNeue-Regular.ttf');
}

/* -----  broader styles  ------ */
body {
    background-color: #000000;    
    font-family: bebas;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: cell;
}

.header {
    position: fixed;
    z-index: 1;
    font-family: marlboro;
    font-size: 120px;
    color: #26ff0e;
    left: 50%;
    top: -5%;
    transform: translate(-50%, 5%);
}

.home {
    position: fixed;
    z-index: 1;
    color: #26ff0e;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -7%);
}


.back { 
    color: #26ff0e;
    padding: 5%;
    padding-top: 5%;
    font-size: 25px;
    text-decoration: none;
    font-family: bebas;
    text-transform: uppercase;
    font-weight: 700;
}

.header img {
    width: 100%;
    height: 100%;
}

.link-tree {
    z-index: 5;
    position: fixed;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -60%);
}

.link-tree li {
    justify-content: center;
    text-align: center;
    padding-top: 15%;
    list-style-type: none;
}

.date-tree {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    list-style-type: none;
}

.date {
    text-transform: uppercase;
    padding: 10px;
    font-family: bebas;
    white-space: pre;
    font-weight: 900;
    color: #26ff0e;
    font-size: 20px;
    z-index: 10 !important;
}

a em {
    text-decoration: line-through;
}

.link {
    text-decoration: none;
    color: #26ff0e;
    font-weight: 900;
    font-size: 30px;
}

/*
ul li:hover {
    cursor: pointer;
    background-color: #1818186c;
    opacity: 70%;
    transition-property: text-decoration, background-color;
    transition-duration: 500ms, 500ms;
    border-radius: 3%;
}

ul li:hover a {
   color: #3dfb2481;
   opacity: 70%;
   font-weight: 600;
   transition-property: font-weight;
   transition-duration: 100ms;
}
*/

.link:hover {
    color: #51ff008a;
    opacity: 100%;
    text-decoration: underline #51ff008a;
    transition: opacity 200ms linear;
}

/*  future media queries for medium to medium small devices
@media only screen and (max-width: 1393px) {}
@media only screen and (max-width: 860px) {}
*/

@media only screen and (max-width: 540px) {
    .header {
        width: 100%;
        height: 100%;
        left: 50%;
        top: -17%;
        transform: translate(-50%, -17%);
    }

    .home {
        left: 50%;
        top: 95%;
        transform: translate(-50%, -95%);
    }

    .linktree {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .link {
        font-size: 25px;
    }

    
    ul {
        grid-template-columns: 1fr 1fr;
        padding-inline-start: 0px;
    }
    
    ul li {
        padding: 25px;
    }
}
